/* FAQ Header Section */
.faq-header {
    color: white;
    background-image: url('/public/bgmain.png');
    text-align: center;
    padding: 60px 20px;
    margin-top: 100px;
  }
  
  .faq-header h2 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .faq-header h1 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  /* FAQ Items Section */
  .faq-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: black;
  }
  
  .answer {
    margin-top: 10px;
    color: #555;
  }
  